# Virtual environment
venv/
env/
.env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.env
.vscode/

# Generated plot files (optional, remove if you want to track these)
*.png

# data
football-data-premier-league-2024-2025.csv